
*{
    margin: 0;
    padding: 0;
}
.fontstyle{
    font-family: "Azeret Mono", serif;
}
/* shared styles */
.bodyWidth{
    max-width: 1140px;
    margin: 50px auto;

}

.sectionContent{
    text-align: center;
    padding: 40px;
}
.sectionContent .sectionTitle{
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
    margin-bottom: 10px;
}
.content_description{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #0D1321;
    padding: 20px 190px;
}
/* navbar styles */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
    padding: 30px 0;
}
.navbar h2{
    color: #0D1321;
    font-weight: 800;
    font-size: 23px;
}
.navbtn  button{
    font-size:20px;
    font-weight: 600;
    color: #0D1321;
    padding: 17px 24px;
    border: 1px solid #0D1321;
    border-radius: 8px;
    background: none;
}

/* banner section styles*/
.banner{
    background: url(../assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-content{
    max-width: 888px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 0;
}
.banner-content .bannerimg{
    margin-bottom: 20px;
}
.banner-content .banner_title{
    font-size: 45px;
    font-weight: 800;
    line-height: 65px;
    color: #0D1321;
    padding: 24px 0;
}

.banner-content .btn a{
    font-size:20px;
    font-weight: 600;
    color: #ffffff;
    background-color: #0D1321;
    padding: 20px 24px;
    border-radius: 8px;
    margin-bottom: 20px;
    display: inline-block;
    text-decoration: none;
}
/* why development section styles */
.developmentcard{
    display: flex;
    justify-content: space-between;
    padding: 45px;
}
.cardContent{
    margin-right: 130px;
    padding-right:80px ;
}
.cardContentTitle{
    font-size: 24px;
    line-height: 1.5;
    font-weight: 700;
    color: #0D1321;
    padding: 10px 0;
}
.cardContenDescription{
    padding: 15px 0;
}
.learnBtn{
    margin-top: 15px;
}
.learnBtn a{
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;
    text-decoration: none;
    padding: 12px 20px;
    border: 1px solid #0D1321;
}
.cardImgExtra{
    margin-right: 100px;
}
.cardContentExtra{
    margin-right: 0;
}
/* my inspiration section styles */
.inspirationContent{
    padding: 24px;
    text-align: center;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}
.InspirationVdo{
    height: 550px;
    width: 98%;
    border-radius: 16px;
}
/* Current Target section styles */
.currentSkillContainer{
    display: flex;
    justify-content: space-between;
}
.currentSkillContainer .bgSkill{
    background-color:rgba(255,76,30,0.3);
}
.currentSkillContainer .bgSkill2{
    background-color:rgba(0,76,232,0.3) ;
}
.currentSkillContainer .bgSkill3{
    background-color:rgba(255, 223, 0 ,0.3) ;
}
.currentSkill{
    text-align: start;
    width:30%;
    border-radius: 16px;
}
.currentSkill img{
    padding: 40px 40px 0px 40px;
}

.currentSkill h3{
    font-size: 24px;
    line-height: 36px;
    font-weight: 800;
    color: #0D1321;
    padding: 20px 40px 0px 40px;
}
.currentSkill p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color:rgba(13, 19, 33, 0.7);
    padding: 8px 40px 24px 40px;
}
.currentSkill a{
    font-size: 16px;
    font-weight: 700;
    color: #0D1321;
    display: inline-block;
    padding: 0 40px 40px 40px;
}

/* Next Target section styles */
.nextTargetItem{
    display: flex;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 16px;
    margin-bottom: 24px;
}
.nextTargetItem .itemImg{
    padding-right: 24px;
}
.nextTargetItem h4{
    font-size: 24px;
    line-height: 36px;
    font-weight: 800;
    color: #0D1321;
}
.nextTargetItem p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color:rgba(13, 19, 33, 0.7);
    padding: 8px 0px 15px 0px;
}
.nextTargetItem a{
    font-size: 16px;
    font-weight: 700;
    color: #0D1321;
}
/* need Support section styles */
#needSupport{
    background: url(../assets/handshake.jpg), rgba(0, 0, 0,0.2);
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    border-radius: 16px;
}
.supportContent{
    text-align: center;
}
.supportContent h3{
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    color: #ffffff;
    margin-bottom: 16px;
}
.supportContent p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #dfd4d4;
    margin-bottom: 16px;
}
.supportContent input{
    font-size:16px;
    font-weight: 400;
    color: #c7b4b4;
    background-color: #ffffff;
    padding: 20px 215px 20px 20px;
    border-radius: 8px;
    border: none;
}
.supportContent button{
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;
    background-color: #ffffff;
    padding: 17px 20px;
    border: none;
    border-radius: 8px;
}