*{
    margin: 0;
    padding: 0;
}
.fontstyle{
    font-family: "Azeret Mono", serif;
}
/* navbar style */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
    padding: 30px 0;
}
.navbar h2{
    color: #0D1321;
    font-weight: 800;
    font-size: 23px;
}
.navbtn  button{
    font-size:20px;
    font-weight: 600;
    color: #0D1321;
    padding: 17px 24px;
    border: 1px solid #0D1321;
    border-radius: 8px;
    background: none;
}

/* banner section design */
.banner{
    background: url(../assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-content{
    max-width: 888px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 0;
}
.banner-content .bannerimg{
    padding: 23px 0;
}
.banner-content .banner_title{
    font-size: 45px;
    font-weight: 800;
    line-height: 65px;
    color: #0D1321;
    padding: 24px 0;
}
.banner-content .banner_description{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #0D1321;
    padding: 32px 0;
}
.banner-content .btn input{
    font-size:20px;
    font-weight: 600;
    color: #ffffff;
    background-color: #0D1321;
    padding: 20px 24px;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
}